*{
    box-sizing: border-box;
}
html{
    background-color: white;
}
body{
    font-family: sans-serif;
    width: 1024px;
    margin: 0px auto 0px auto;  
    background-color: rgba(37, 83, 11, 0.103); /*---tO BE DELETED--->*/
}

header, h1{
    margin : 0;
}
header{
width: 100%;
background-color: white;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: baseline;
color: burlywood;
}
.nav-link{
    flex: auto;
}
.nav-link ul{
    list-style-type:none;
}
.nav-link ul li{
    display: inline;
    padding-left: 50px;
}
/* #login{
    /* flex-basis: 1;
    float: right; 
    
} */
a:link {
    text-decoration: none;
    color: burlywood ;
  }

main{
    width: 70%;
    background-color: #80808000;
    display: inline-block;
    padding: 20px;
}
#main-heading{
/* background-color: hotpink; */
}
#article-left{
    display:inline-block;
    width: 50%;
    background-color: lemonchiffon;
    margin-right: 4px;
}
#article-right{
display: inline-block;
width: 50%;
background-color: lemonchiffon;
}
aside{
float: right;
background-color: honeydew;
width:30%;
padding: 20px;
}



